<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edmin</title>
        {#        <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
        <link type="text/css" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
        <link type="text/css" href="{{ url_for("static", filename="bootstrap/css/bootstrap-responsive.min.css") }}" rel="stylesheet">
        <link type="text/css" href="{{ url_for("static", filename="edmin/css/theme.css") }}" rel="stylesheet">
        <link type="text/css" href="{{ url_for("static", filename="edmin/images/icons/css/font-awesome.css") }}/" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
    </head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">Edmin </a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav nav-icons">
                    <li class="active"><a href="#"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-eye-open"></i></a></li>
                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled">
                        <li class="active"><a href="{{ url_for("gpuinfo.index") }}"><i class="menu-icon icon-dashboard"></i>Dashboard</a></li>
                    </ul>
                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->
            <div class="span9">
                <div class="content">
                    <div id="gpu-info">
                        <div class="row-fluid"><button class="btn btn-success" v-on:click="getGPUInfo">Refresh</button></div>
                        <br>
                        <div class="row-fluid" v-for="servers in gpu_info">
                            <div class="module span4 gpu-info" v-for="server in servers">
                                <div class="module-head server-name"><strong><% server.host %></strong></div>
                                <div class="module-body">
                                    <ul class="unstyled widget">
                                        <li v-for="(info, index) in server.info">
                                            <p><strong>No. <% index %></strong><span class="pull-right small muted"><span><% info.temperature %> &#8451; / </span> <span>CPU: <% info.utilization %> %</span> </span>
                                            </p>
                                            <div class="progress tight">
                                                <div class="bar" v-bind:class="{'bar-success': info.color_class.success, 'bar': info.color_class.normal, 'bar-warning': info.color_class.warning, 'bar-danger': info.color_class.danger}" v-bind:style="{width: info.memory_percentage+'%'}"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="footer">
    <div class="container">
        <b class="copyright">&copy; 2014 Edmin - EGrappler.com </b>All rights reserved.
    </div>
</div>
<script src="{{ url_for("static", filename="edmin/scripts/jquery-1.9.1.min.js") }}" type="text/javascript"></script>
<script src="{{ url_for("static", filename="edmin/scripts/jquery-ui-1.10.1.custom.min.js") }}/" type="text/javascript"></script>
<script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}" type="text/javascript"></script>
<script src="{{ url_for("static", filename="edmin/scripts/flot/jquery.flot.js") }}" type="text/javascript"></script>
<script src="{{ url_for("static", filename="edmin/scripts/flot/jquery.flot.resize.js") }}" type="text/javascript"></script>
<script src="{{ url_for("static", filename="edmin/scripts/datatables/jquery.dataTables.js") }}" type="text/javascript"></script>
<script src="{{ url_for("static", filename="edmin/scripts/common.js") }}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
    var app = new Vue({
        delimiters: ['<%', '%>'],
        el: '#gpu-info',
        data: {
            message: 'Hello Vue!',
            gpu_info: [],
            test: [1,2,3,4,]
        },
        methods: {
            getGPUInfo: function () {
                $.ajax({
                    url: "/gpuinfo/refresh",
                    method: "GET"
                }).success(data => {
                    this.gpu_info = [];
                    chunk_size = 3;
                    for (index = 0; index < data.results.length; index += chunk_size) {
                        chunk = data.results.slice(index, index + chunk_size);
                        this.gpu_info.push(chunk);
                    }
                })
            }
        },
        created: function () {
            this.getGPUInfo();
        }
    })
</script>
</body>
