.member-pic{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
}
.research-body{
    position: relative;
    padding:10px;
    text-align: left;
}
.teaching-list-body{
    width:100%;
    list-style-type: none;
    display:block;
}
.teaching-list-element{
    font-size: 25px;
    /*font-weight: bold;*/
    cursor: pointer;
    text-align: left;
}
.img-publication{
    width:15%;
    float:left;
}
.publication-main{
    width:60%;
    float:left;
    text-align: left;
    padding:5px 20px;
}
.news-list-element{
    font-size: 25px;
    cursor: pointer;
    text-align: left;
}
.free-text-span{
    word-wrap: break-word;white-space:pre-line;word-break:keep-all;
}