.member-pic{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover !important;
}
.link-pic {
    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover !important;
}
.logo-pic {
    width: 250px;
    height: 81px;

    display: block; /*for the img inside your div */  
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 50%;*/
    background-size: cover !important;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}
.research-body{
    position: relative;
    padding:10px;
    text-align: left;
}
.teaching-list-body{
    width:100%;
    list-style-type: none;
    display:block;
}
.teaching-list-element{
    font-size: 22px;
    /*font-weight: bold;*/
    cursor: pointer;
    text-align: left;
}
.img-publication{
    /* width:6%; */
    width: 70px;
    height: 70px;
    float:left;
    padding-top: 4px;
    object-fit: cover;
}
.publication-main{
    width:90%;
    float:left;
    text-align: left;
    padding:0px 20px;
}
.news-list-element{
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}
.free-text-span{
    word-wrap: break-word;
    white-space:pre-line;
    word-break:keep-all;
}
h-publication-title {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 22px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px;
}

a.publication {
    color: #ffffff;
}