<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Awesome DAVIAN Admin page</title>

    <link href="{{url_for('static', filename='plugins/vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/vendor/font-awesome/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/vendor/simple-line-icons/css/simple-line-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/vendor/device-mockups/device-mockups.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/vendor/datatables-plugins/dataTables.bootstrap.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='plugins/vendor/datatables-responsive/dataTables.responsive.css')}}"> -->


    <link href="{{url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="admin_title.html">Awesome DAVIAN Lab. admin page</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <a href={{ url_for('logout') }}><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <!-- <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li> -->

                        <li><a href={{ url_for('admin_title') }}><i class="fa fa-star fa-fw"></i> Title</a></li>
                        <li><a href={{ url_for('admin_about') }}><i class="fa fa-location-arrow fa-fw"></i> About</a></li>
                        <li><a href={{ url_for('admin_news') }}><i class="fa fa-bullhorn fa-fw"></i> News</a></li>
                        <li><a href={{ url_for('admin_research') }}><i class="fa fa-university fa-fw"></i> Research</a></li>
                        <li><a href={{ url_for('admin_member') }}><i class="fa fa-group fa-fw"></i> Member</a></li>
                        <li><a href={{ url_for('admin_teaching') }}><i class="fa fa-book fa-fw"></i> Teaching</a></li>
                        <li><a href={{ url_for('admin_publication') }}><i class="fa fa-wrench fa-fw"></i> Publications</a></li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            
            <div class="row">

                {% block contents_body %}
                {% endblock %}
            
            </div>

            <!-- create the category detail UI here -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='plugins/vendor/jquery/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='plugins/vendor/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Datatable -->
    <script src="{{url_for('static', filename='plugins/vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/vendor/datatables-plugins/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/vendor/datatables-responsive/dataTables.responsive.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static', filename='javascript/sb-admin-2.js')}}"></script>


</body>

</html>