<footer>   
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="logo">
                    <div style="background: url({{ url_for('static', filename='src/img/globalsymbol_eng2_large.gif') }}) no-repeat center center; background-size: cover;" class="logo-pic"></div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <p>&copy; 2018 Awesome DAVIAN. All Rights Reserved.</p>
        </div>
    </div>
</footer>