<section id="links" class="features bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Links</h2>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        {% for link in links %}
                        <div class="col-md-12">
                            <div class="feature-item">

                                <div class="publication-main">

                                    <div style="display: inline-block;width:120px;vertical-align: top;">
                                        <a href="{{link.link_url}}" class="portfolio-link" data-toggle="modal">
                                            <img src={{ url_for('static', filename='src/img/links/'+link.image_path)}} class="img-publication" alt="">
                                        </a>
                                    </div>
                                    <div class="link-detail">
                                        <h-publication-title>
                                            <a href="{{link.link_url}}" class="portfolio-link, publication" data-toggle="modal">{{link.name}}</a>
                                        </h-publication-title>
                                        <p class="text-muted">{{link.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
        </div>

        <!-- {% for link in links %}

            {% if (loop.index % 4 == 0) %}
            <div class="row center-block">
            {% endif %}

            <div class="col-md-3">
                <div class="team-member">
                    <a href="{{link.link_url}}">
                        <div style="background: url({{ url_for('static', filename='src/img/links/'+link.image_path) }}) no-repeat center center; background-size; cover;" class="link-pic"></div>
                    </a>
                    <h4 id="member-name0">{{link.name}}</h4>
                </div>
            </div>

            {% if (loop.index % 4 == 0) %}
            </div>
            {% endif %}


        {% endfor %} -->

</section>