<section id="links" class="features bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Link</h2>
                    <!-- <p class="text-muted">Check out what you can do with this app theme!</p> -->
                    <hr>
                </div>
            </div>
        </div>

        {% for link in links %}

            {% if (loop.index % 4 == 0) %}
            <div class="row center-block">
            {% endif %}

            <div class="col-md-3">
                <div class="team-member">
                    <a href="{{link.link_url}}">
                        <div style="background: url({{ url_for('static', filename='src/img/links/'+link.image_path) }}) no-repeat center center; background-size; cover;" class="link-pic"></div>
                    </a>
                    <h4 id="member-name0">{{link.name}}</h4>
                </div>
            </div>

            {% if (loop.index % 4 == 0) %}
            </div>
            {% endif %}


        {% endfor %}

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</section>