<section id="links" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Link</h2>
                    <p class="text-muted">Check out what you can do with this app theme!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>