<section id="people" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>People</h2>
                    <p class="text-muted">Anyung ha se yo! we are Awesome DAVIANers!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding:15px;">
                <h3 id="member-name" >Name</h3>
                <p id="member-text" class="text-muted">Description</p>

            </div>
            <div class="col-md-6">
                <div class="team-member" onmouseover="update_member(0)">
                    <div style="background:url(../static/src/img/member/JaegulChoo_photo.jpg) no-repeat center center; background-size: cover;" class="member-pic"></div>
                    <h4 id="member-name0">Jaegul Choo, Professor</h4>
                    <p class="text-muted">Data Mining and Visual Analytics</p>
                    <input type="hidden" id="member-text0" value="교수님짱짱"/> 
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row center-block">
            <div class="col-md-3">
                <div class="team-member" onmouseover="update_member(1)">
                    <div  style="background:url(../static/src/img/member/P2150206.jpg) no-repeat center center; background-size: cover;" class="member-pic"></div>
                    <h4 id="member-name1">Jaeseong Yoo, Ph.D. Student</h4>
                    <p class="text-muted">Data-mining and Machine learning using statistical approach</p>
                    <input type="hidden" id="member-text1" value="재성선배짱짱"/> 
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <div  style="background:url(../static/src/img/member/P2150206.jpg) no-repeat center center; background-size: cover;" class="member-pic"></div>
                    <h4>Jaeseong Yoo, Ph.D. Student</h4>
                    <p class="text-muted">Data-mining and Machine learning using statistical approach</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member" onmouseover="update_member(3)">
                    <img  style="background:url(../static/src/img/member/mchoi.jpg) no-repeat center center; background-size: cover;"  class="member-pic" alt="">
                    <h4 id="member-name3">Minsuk Choi, Ph.D. Student</h4>
                    <p class="text-muted">Data mining and Visual analytics</p>
                    <input type="hidden" id="member-text3" value="Top tear - Ranker"/> 
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <img  style="background:url(../static/src/img/member/mchoi.jpg) no-repeat center center; background-size: cover;"  class="member-pic" alt="">
                    <h4>Minsuk Choi, Ph.D. Student</h4>
                    <p class="text-muted">Data mining and Visual analytics</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>