<section id="publication" class="features bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Publications</h2>
                    <!-- <p>The research area that DAVIAN is interested in.</p> -->
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        
                        {% for item in publications %}
                        <div class="col-md-12">
                            <div class="feature-item">
                                <a href="#publication_detail_{{item.id}}" class="portfolio-link" data-toggle="modal">
                                    <img src={{ url_for('static', filename='src/img/publications/'+item.teaser_image_path)}} class="img-publication" alt="">
                                </a>
                                <div class="publication-main">
                                    <h-publication-title>
                                        <a href="#publication_detail_{{item.id}}" class="portfolio-link, publication" data-toggle="modal">{{item.title}}</a>
                                    </h-publication-title>
                                    <p class="text-muted">{{item.authors}}<br>
                                    {{item.description}} 
                                    {% if item.link_pdf1 != '' and item.link_pdf1 != None %}
                                        <a href={{item.link_pdf1}} class="publication">[PDF]</a>
                                    {% endif %}
                                    {% if item.link_pdf2 != '' and item.link_pdf2 != None%}
                                        <a href={{item.link_pdf2}} class="publication">[PDF]</a>
                                    {% endif %}
                                    {% if item.link_video != '' and item.link_video != None%}
                                        <a href={{item.link_video}} class="publication">[VIDEO]</a>
                                    {% endif %}
                                    {% if item.link_source != '' and item.link_source != None%}
                                        <a href={{item.link_source}} class="publication">[CODE]</a>
                                    {% endif %}
                                    {% if item.link_url != '' and item.link_url != None%}
                                        <a href={{item.link_url}} class="publication">[URL]</a>
                                    {% endif %}
                                    {% if item.link_etc != '' and item.link_etc != None%}
                                        <a href={{item.link_etc}} class="publication">[ETC]</a>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
{% for item in publications %}
<div class="portfolio-modal modal fade" id="publication_detail_{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="research-body">
                            <!-- Project Details Go Here -->
                            <h2>{{item.title}}</h2>
                            <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                            <img class="img-responsive img-centered" src={{ url_for('static', filename='src/img/publications/'+item.teaser_image_path)}} alt="">
                            <p>{{item.abstract}}</p>
                            <p>
                            <!--     <strong>Want these icons in this portfolio item sample? </strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>. -->
                                {{item.description}}
                            </p>
                            <p>
                                {{item.authors}}
                            </p>
                            <ul class="list-inline">
                                <li>Year: {{item.year}}</li>
                                <!-- <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}