<section id="teaching" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Teaching</h2>
                    <p class="text-muted">teaching</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="teaching-list-body">
                            <li class="teaching-list-element">
                                2016 2학기 계산이론 
                            </li>
                            <li class="teaching-list-element">
                                2017 1학기 계산이론 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>